.profile-main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fcfaff;
  margin: 30px;
  border-radius: 12px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.profile-main-wrapper a {
  text-decoration: none;
  color: rgba(142, 66, 209, 0.9);
}
.profile-h6 {
  color: black;
  font-family: "Nunito",sans-serif;
  text-transform: uppercase;
}
.profile-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 0 30px;
}
.profile-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-img img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.profile-data {
  margin-left: 20px;
}
.profile-name {
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
}
.edit-profile-a {
  margin-left: 10px;
  color: rgba(142, 66, 209, 0.9);
}

.edit-profile-a:hover {
  cursor: pointer;
  color: #0d6efd;
}
.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile-details p {
  margin-left: 10px;
}
.bookshelf-wrapper {
  padding: 0 30px 0 30px;
}
.currently-reading-wrapper {
  padding: 0 30px 0 30px;
}
.recent-updates-wrapper {
  padding: 0 30px 0 30px;
}
.bookshelf-user {
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}
.bookshelf-links {
  display: flex;
  font-family: "Nunito",sans-serif;
  justify-content: space-around;
}
.currently-reading-wrapper {
  margin-top: 20px;
}
.currently-reading-user {
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}

.recent-updates-user {
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}
