.smallComment-container {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.smallComment-wrapper {
  padding: 30px;
  display: flex;
  gap: 10px;
  width: 60vw;
  border-bottom: 1px solid grey;
}
.smallComment-img img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.detailedCard-ratings {
  display: flex;
  align-items: center;
}
.detailedCard-likeBtn {
  text-align: center;
  border: 1px solid rgba(142,66,209,.9);
  border-radius: 15px;
}
.detailedCard-likeBtn:hover{
  border: 1px solid rgba(142,66,209,.9);
  color: white;
  background-color: rgba(142,66,209,.9);
}

