.formControl {
  border: 3px solid purple ;
  color: #00f;
  text-decoration: none;
  display: inline-block;
}
.formControl:after {
  width: 0;
  display: block;
  background: #00f;
  height: 3px;
  transition: all 0.5s ease-in-out;
  content: "";
}
.formControl:hover {
  color: #00f;
}
.formControl:hover:after {
  width: 100%;
}
