.list-group-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
}
.list-links-container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}