.banner-wrapper {
  background: #32c3c0;
}
.banner-container {
  padding: 10px 0;
  text-align: center;
  width: 100vw;
  h1 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    margin: 10px auto;
    font-family: "Lato", sans-serif;
  }
}
