nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
  .active{
    color: red;
  }
  .padding-ref{
    padding-left: 35px !important;
    padding-right: 35px !important;
  }

.nav-image{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
