.credentials-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px;
}
.form-container {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 30%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  padding: 50px;
  min-height: 80vh;
  max-height: 80vh;
  flex-direction: column;
  background-color: white;
}
.form-container a {
  text-decoration: none;
}
.loginText {
  margin-bottom: 30px;
}
.custom-class-btn {
  margin-top: 30px;
  width: 100%;
  font-size: 20px;
  color: white;
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    rgba(28, 198, 221, 0.6),
    rgba(142, 66, 209, 0.6)
  );
}
.custom-class-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgb(196, 195, 195);
  outline: none;
  line-height: 2;
}

.custom-class-btn {
  background-color: white;
  border: 2px solid;
  font-size: larger;
  border-radius: 1.65em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.custom-class-btn::before,
.custom-class-btn::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.custom-class-btn::before {
  background-image: linear-gradient(
    45deg,
    rgba(142, 66, 209, 0.6),
    rgba(28, 198, 221, 0.6)
  );
  z-index: -1;
  transition: opacity 240ms linear;
  opacity: 0;
}

.custom-class-btn::after {
  content: "";
  height: 150%;
  width: 0.25em;
  transform: translateX(-1em);
}

.custom-class-btn:hover::before {
  opacity: 1;
}

.custom-class-btn:hover::after {
  animation-duration: 700ms;
  animation-name: sweep;
}

@keyframes sweep {
  from {
    transform: translateX(-1em);
  }
  to {
    transform: translateX(12.5em);
    animation-timing-function: ease-out;
  }
}

.custom-class-input {
  box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.custom-class-input:focus {
  outline: none;
  box-shadow: -5px 10px 0px -7px #87c9e9, 5px 10px 0px -7px #87c9e9;
}

.custom-class-input:focus::placeholder {
  color: transparent;
}
