.smallBook-wrapper {
  font-size: 14px;
  align-items: center;
}
.smallBook-container {
  padding: 20px;
  display: flex;
  gap: 10px;
  width: 40vw;
  flex-direction: column;
}
.smallBook-body-wrapper {
  display: flex;
  a{
    align-items: baseline !important;
  }
}
.smallBook-text {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.smallBook-body-wrapper img {
  width: 100px;
  height: 150px;
  border: 1px solid rgba(142, 66, 209, 0.9);
  border-radius: 0 6% 6% 0/4%;
}
.h5-container{
text-align: left !important;
}
.username-review-small{
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin: 0px;
}
.small-read-books-wrapper{
  display: flex;
}
.profile-review-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  button,button:hover{
    margin:0;
  }
  button:hover:disabled{
    background-color:transparent;
    color: gray;
  }
  p{
    text-align: center;
  }
}