.book-card{
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
// height: 600px !important;
transition: transform 0.2s ease-in-out;
    &:hover{
        transform: scale(1.05);
        box-shadow: 0 4px 6px 0 rgba(142,66,209,.7);
    }
}
.total-ratings{
    color: #707070;
    box-sizing: border-box;
}
.total-ratings::before{
    padding: 0.4rem;
    content: "\B7";
}
.card-img-top{
    height: 35vh;
}
