.detailedCard-white-container {
  margin: 30px;
  padding-top: 30px;
}
.center-position {
  display: flex;
  justify-content: center;
}
.center-position a {
  text-decoration: none;
  color: rgba(142, 66, 209, 0.9);
}
.center-position a:hover {
  color: #0d62e3;
}
.detailedCard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detailedCard-container {
  padding: 40px;
  display: flex;
  gap: 30px;
  width: 60vw;
}
.detailedCard-img img {
  min-width: 200px;
  max-width: 200px;
  min-height: 300px;
  max-height: 300px;
}

.detailedCard-ratings {
  margin: 5px 0 5px 0;
  color:  rgba(142, 66, 209, 0.9);;
}
.detailedCard-plot {
  font-size: 18px;
  text-align: justify;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}
.detailedCard-text {
  display: flex;
  flex-direction: column;
}

.write-review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.write-review-wrapper {
  padding: 30px;
  display: flex;
  gap: 10px;
  width: 60vw;
}

.user-img img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.rating-review {
  display: flex;
  padding-top: 15px;
}
.write-review {
  border: 1px solid rgba(142, 66, 209, 0.9);
  border-radius: 15px;
  margin-left: 20px;
}
.write-review:hover {
  border: 1px solidrgba(142, 66, 209, 0.9);
  color: white;
  background-color: rgba(142, 66, 209, 0.9);
  border-radius: 15px;
  margin-left: 20px;
}
.detailedCard-title {
  margin: 0 !important;
  color: black !important;
}
.community-reviews {
  font-family: "Nunito", sans-serif;
  // color: rgba(142,66,209,.9);
  // font-weight: 500;
}
.username-review {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}
.read-more-less {
  color: rgba(142, 66, 209, 0.9);
  border-bottom: 1px solid rgba(142, 66, 209, 0.9);
}

.read-more-less:hover {
  color: rgba(142, 66, 209, 0.9);
}

.select {
  margin-top: 5px;
  position: relative;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid rgba(142, 66, 209, 0.9);
  select {
    all: unset;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 10px;
    padding-right: 5px;
    cursor: pointer;
    option:hover{
      background-color: yellow;
    }
  }
  }


.select::after {
  content: "\25BC";
  border: 1px solid rgba(142, 66, 209, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding-right: 10px;
  padding-left: 10px;  
  background-color: rgba(142, 66, 209, 0.9);
  pointer-events: none;
  color: white;
}

.select:hover::after {
  background-color: rgba(105, 47, 155, 0.9);

}
.sucessShelf{
  width: 100%;
  margin-top: 0px !important;
  font-size: 0.8em;
  color:rgba(142, 66, 209, 1);
}
.errorShelfDetail{
  width: 100%;
  margin-top: 0px !important;
  font-size: .8em;
  color: #dc3545;
}