.detailedCard-white-container {
  margin: 30px;
  padding-top: 30px;
}
.center-position {
  display: flex;
  justify-content: center;
}
.center-position a {
  text-decoration: none;
  color: #997be2;
}
.center-position a:hover{
  color: #0d62e3;
}
.detailedCard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detailedCard-container {
  padding: 40px;
  display: flex;
  gap: 30px;
  align-items: center;
  width: 60vw;
}
.detailedCard-img {
  min-width: 200px;
}

.detailedCard-ratings {
  margin: 5px 0 5px 0;
}
.detailedCard-plot {
  font-size: 18px;
  text-align: justify;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}
.detailedCard-text {
  display: flex;
  flex-direction: column;
}

.write-review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.write-review-wrapper {
  padding: 30px;
  display: flex;
  gap: 10px;
  width: 60vw;
}

.user-img img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.rating-review {
  display: flex;
  padding-top: 15px;
}
.write-review {
  // border: 1px solid #78dbea;
  border: 1px solid purple;
  border-radius: 15px;  
  margin-left: 20px;
}
.write-review:hover{
  border: 1px solid #997be2;
  color: white;
  background-color: #997be2;
  border-radius: 15px;
  margin-left: 20px;
}
.detailedCard-title {
  margin: 0 !important;
  color: black !important;
}
.community-reviews{
  font-weight: 600;
}