.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cards-wrapper{
  display: flex;
  justify-content: center;
}
.cards-container{
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px
}
.category-container{
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px
}


.profile-wrapper{
  display: flex;
  justify-content: center;
}
.profile-container{
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: yellow;
}
.off {
  color: #ccc;
}

.community-reviews{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 60vw;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}