.detailedCard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detailedCard-wrapper {
  padding: 40px;
  display: flex;
  
  gap: 30px;
  align-items: center;
  width: 60vw;
}
.detailedCard-img {
  min-width: 200px;
}
.detailedCard-ratings {
  margin: 5px 0 5px 0;
}
.detailedCard-plot {
  font-size: 18px;  
  text-align: justify;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;

}
.detailedCard-text {
    display: flex;
    flex-direction: column;
}

.write-review-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.write-review-wrapper{
  padding: 30px;
  display: flex;
  gap: 10px;
  /* align-items: center; */
  width: 60vw;
  
}

.user-img img{
  height: 66px;
  width: 55px;
}
.rating-review{
 display: flex;
 padding-top: 15px;
}
.write-review{
  border: 1px solid grey;
  margin-left: 20px;
}