.profile-main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.profile-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-data{
    margin-left: 20px;
}
.profile-name{
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
}
.profile-name a{
    margin-left: 10px;
    color: grey;
}   

.profile-details{
    display: flex;
    justify-content: space-between;
}
.profile-details p {
    margin-left: 10px;
}
.bookshelf-user{
    border-bottom: 1px solid grey;
}
.bookshelf-links{
    display: flex;
    justify-content: space-between;
}
